<div class="blog-post">
        <h1>{{getPost.title}}</h1>
        <h2>Posted By: {{getPost.userName}}</h2>
        <img src="{{getPost.image}}" alt="Blog Image">
        <p>{{getPost.body}}</p>
        <p><strong>Posted on:</strong> {{getPost.time}}</p>
        
        <div class="comments">
            <h3>Comments:</h3>
            {{#each getPost.comment}}
                <div class="comment">
                    <p><strong>{{this.userName}}</strong>: {{this.comment}}</p>
                </div>
            {{/each}}
        </div>
        {{#if loggedIn}}
        <form action="/post/{{getPost._id}}/comment" method="POST">
            <label for="comment">Add a comment:</label>
            <textarea id="comment" name="comment" required></textarea>
            <button type="submit">Submit Comment</button>
        </form>
        {{/if}}
</div>

