{{!-- <h1>Shopping Cart</h1>
    <div id="cart">
        {{#if productData.length}}
            <table>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each productData}}
                        <tr>
                            <td>{{this.productName}}</td>
                            <td>{{this.price}}</td>
                            <td>
                                <input type="number" value="1" min="1" max="5">
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            <h4>Total Price: {{totalPrice}}</h4>
            <button onclick="placeOrder()">Place Order</button>
        {{else}}
            <p>Your cart is empty.</p>
        {{/if}}
    </div> --}}

<h1>Shopping Cart</h1>
<div id="cart">
    {{#if productData.length}}
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each productData}}
                    <tr data-product-id="{{this._id}}">
                        <td>{{this.productName}}</td>
                        <td>{{this.price}}</td>
                        <td>
                            <input type="number" value="1" min="1" max="5">
                        </td>
                        <td>
                            <a href="/products/removeFromCart/{{this._id}}">Delete</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <h4>Total Price: {{totalPrice}}</h4>
        <button onclick="placeOrder()">Place Order</button>
    {{else}}
        <p>Your cart is empty.</p>
    {{/if}}
</div>