<form id="addProductForm" action="/artist/updateProduct" method="POST">
    <label for="productName">Product Name:</label>
    <input required type="text" id="productName" value="{{artData.productName}}" name="productName">
    <br>
    <br>
    
    <label for="productDescription">Product Description:</label>
    <input required type="text" id="productDescription" value="{{artData.productDescription}}" name="productDescription">
    <br>
    <br>
    
    <label for="price">Price:</label>
    <input required type="text" id="price" value="{{artData.price}} " name="price">
    <br>
    <br>
    
    {{!-- <label for="rating">Rating:</label><br>
    <input required type="number" id="rating" name="rating"><br> --}}
    
    {{!-- <label for="date">Release Date:</label><br>
    <input required type="date" id="date" name="date"><br> --}}
    
    <label for="images">Images:</label>
    <input required type="text" id="images"  value="{{artData.images}}"  name="images">
    <br>
    <br>
    
    {{!-- <label for="reviews">Reviews :</label><br>
    <textarea id="reviews" name="reviews"></textarea><br> --}}
    
    <label for="tags">Tags :</label>
    <input  type="text" id="tags" value ="{{artData.tags}}" name="tags">
    <br>
    <br>
    <input type="submit" value="UpdateProduct" />
</form>
