{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <div class="container">
        <h2>Welcome to Artist Dashboard</h2>
        <nav>
            <ul>
                <li><a href="/admin/dashboard">Dashboard</a></li>
                <li><a href="/admin/users">Manage Users</a></li>
                <li><a href="/admin/products">Manage Products</a></li>
                <li><a href="/admin/orders">Manage Orders</a></li>
                <li><a href="/admin/settings">Settings</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
        <div class="admin-content">
        </div>
        <div class="input-group">
          <label for="Bio">Please Enter your Bio:</label>
          <input type="text" id="bio" name="bio" required />
        </div>
        <input type="submit" value="Register" />
        
    </div>
</body>
</html> --}}



{{#if allArtists}}
    <div class="card-container">
        {{#each allArtists}}
          <div class="card">
            <li class="artwork-item">
              <a href="/artist/{{this._id}}">
                <img src="{{this.profilePic}}" alt="Image of {{this.firstName}}" class="artwork-image">
                <h2 class="artwork-name">{{this.firstName}} {{this.lastName}}</h2> 
              </a>
              <p class="artwork-description">{{this.bio}}</p> 
              <button class="buy-button">visit</button>
            </li>
           </div>
        {{/each}}
    </div>
{{else}}
    <p>No Artists available at the moment.</p>
{{/if}}