        <section class="featured-artists">
            <h2>Featured Artists</h2>
            <div class="card-container">
                {{#each artists}}
                <div class="card">
                  <a href="/artist/{{this._id}}">
                    <img src="{{this.profilePic}}" alt="Profile of {{this.profile.firstName}} {{this.profile.lastName}}">
                    <h3>{{this.firstName}} {{this.lastName}}</h3>
                    <p>{{this.bio}}</p>
                    <p>{{this.ratings}}</p>
                  </a>
                </div>
                {{/each}}
            </div>
        </section>

        <section class="featured-products">
            <h2>Featured Products</h2>
            <div class="card-container">
                {{#each products}}
                <div class="card">
                  <a href = "/products/{{this._id}}">
                    <img src="{{this.images.[0]}}" alt="{{this.productName}}">
                    <h3>{{this.productName}}</h3>
                    <p>Price:{{this.price}}$</p>
                    <p>Ratings:{{this.rating}}</p>
                   </a> 
                </div>
                {{/each}}
            </div>
        </section>

