{{#if items}}
    <ul class="card-container">
        {{#each items}}
          <li class="card">
            <div class="artwork-item">
              <a href="/products/{{this._id}}">
                <img src="{{this.images.[0]}}" alt="{{this.productName}}" class="artwork-image">
                <h2 class="artwork-name">{{this.productName}}</h2> 
              </a>
              <p class="artwork-description">{{this.description}}</p> 
              <p class="artwork-price">Price: ${{this.price}}</p> 
              <p class="artwork-artist">Artist: {{firstName}}</p> 
              <button class="buy-button">Buy</button>
            </div>
           </li>
        {{/each}}
    </ul>
{{else}}
    <p>No items available at the moment.</p>
{{/if}}
