<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Info</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }

        h1 {
            text-align: center;
            margin-top: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        li a {
            text-decoration: none;
            color: #007bff; /* Blue color for links */
        }

        li a:hover {
            text-decoration: underline;
        }

        #user-info {
            margin-top: 20px;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>

    <nav>
    <div class="logo">
        <a href="/">Update My Info</a> 
    </div>
    </nav>
    <h1>User Info</h1>
    
    <p>Welcome,{{username}}</p>
    <ul>
        <li>First Name: <a>{{firstName}}</a></li>
        <li>Last Name: <a>{{lastName}}</a></li>
        <li>Email: <a>{{email}}</a></li>
        <li>City: <a>{{city}}</a></li>
        <li>Purchases: <a>{{purchases}}</a></li>
        <li>Cart: <a>{{cart}}</a></li>
        <li>You are a <a>{{role}}</a></li>
    </ul>
    <div id="user-info"></div>

    
</body>
</html>
