<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Info</title>
</head>
<body>
    <h1>User Info</h1>
    <p>Welcome, {{username}}</p>
    {{!-- <li><a>{{userName}}</a></li> --}}
    <li>firstName: <a>{{firstName}}</a></li>
    <li>LastName: <a>{{lastName}}</a></li>
    <li><a>Email: {{email}}</a></li>
    <li><a>City: {{city}}</a></li>
    <li><a>purchases: {{purchases}}</a></li>
    <li><a>Cart: {{cart}}</a></li>
    <li><a>Role: {{role}}</a></li>
    {{!-- <button onclick="showLoggedInUserInfo()">Show My Info</button> --}}
    <div id="user-info"></div>

    
</body>
</html>
