{{!-- <form id="searchForArtists">
      <label for="firstNameInput">
        <textarea id="firstNameInput" name="firstNameInput" placeholder="Insert artist's firstname here"></textarea>
      </label>
      <label for="lastNameInput">
        <textarea id="lastNameInput" name="lastNameInput" placeholder="Insert artist's Lastname here"></textarea>
      </label>
      <button class="submit-button">Submit</button>
  </form> --}}
{{!-- <ul id="searchResults" class="card-container"></ul> --}}
{{#if allArtists}}
    <ul class="card-container">
        {{#each allArtists}}
          <li class="card">
            <div class="artwork-item">
              <img src="{{this.profilePic}}" alt="Image of {{this.firstName}}" class="artwork-image">
              <h2 class="artwork-name">{{this.firstName}} {{this.lastName}}</h2> 
              <p class="artwork-description">{{this.bio}}</p> 
              <a href="/artist/{{this._id}}"class="buy-button">Visit Profile</a>
            </div>
           </li>
        {{/each}}
    </div>
    
{{else}}
    <p>No Artists available at the moment.</p>
{{/if}}